<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us E.Coaching</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });
        });
    </script>  
</head>
public
<div class="app">
    <%- include("head.ejs") %>
    <div class="container">
        <!--banner-->
        <div class="banner">
            <h1>We're here for thesection</h1>
            <p>Whatever your role - coach, facilitator, instructor, leader, teacher<br> or trainer - if you’re helping people to be active <br> and improve, we’re here for youontent
        </div>
        <!--POTENTIALS Content -->
        <article class="content">
            <div class="title">
                <h4>MAXIMIZE YOUR POTENTIALS</h4>
                <h3>Learn the sectitleto Life Success</h3>
                <p>We develop titlering coaches to bring #GreatCoaching to the lives of millions</p>
            </div>
            <div class="content_body row">
                <div class="col-lg-3 block">
                    <div class="feature-item"> 
                        <div class="feature-icon">
                            <img src="/images/imgs_about_us/Expert_Teacher.png" alt="Expert_Teacher"/>
                        </div>
                        <div class="feature-text">
                            <h4>Expert Teacher</h4>
                            <p>Always bring you the latest
                                and most up-to-date knowledge 
                                and skills</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 block">
                    <div class="feature-item"> 
                        <div class="feature-icon">
                            <img src="/images/imgs_about_us/Self_Development.png" alt="Self_Development"/>
                        </div>
                        <div class="feature-text"> 
                            <h4>Self Development</h4>
                            <p>Develop skills for career of various majors including computer.</p>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 block">
                    <div class="feature-item"> 
                        <div class="feature-icon">
                            <img src="/images/imgs_about_us/Remote_Learning.png" alt="Remote_Learning"/>
                        </div>
                        <div class="feature-text">
                            <h4>Remote Learning</h4>
                            <p>Learn anywhere, anytime. Flexible time, suitable for busy people.</p>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 block">
                    <div class="feature-item"> 
                        <div class="feature-icon">
                            <img src="/images/imgs_about_us/Life_Time_Support.png" alt="Life_Time_Support"/>
                        </div>
                        <div class="feature-text">
                            <h4>Life Time Support</h4>
                            <p>24/7 support. Ready to answer all questions when learning online.</p> 
                        </div>
                    </div> 
                </div>
                <!-- ABOUT US CONTENT -->
                <div class="introduction">
                        <p class="video">
                            <iframe width="1153" height="649" src="https://www.youtube.com/embed/R3UZhsGTmeY?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                        <h3>Our Impact</h3>
                        <p>While reaching and developing coaches is essential to our work, we do so much more behind the scenes. We collaborate with organisations and pool their resources to make lasting improvements to coaching in the UK - from grass-roots through to elite performance levels. We inform Government on policy that supports coaches to have a positive impact on society. And we develop learning that helps coaches support the needs and dreams of the people they coach.</p>
                </div>
                <!-- Customer Data -->
                <div class="number_count">
                    <div class="col-lg-3 block-count">
                        <span class="counter">90</span>
                        <p class="a">Instructors</p>
                    </div>
                    <div class="col-lg-3 block-count">
                        <span class="counter">1450</span>
                        <p class="b">Total Courses</p> 
                    </div>
                    <div class="col-lg-3 block-count">
                        <span class="counter">569</span>
                        <p class="c">Registered Enrolls</p> 
                    </div>
                    <div class="col-lg-3 block-count">
                        <span class="counter">100</span><span style="font-size: 30px; color: #ffffff; font-weight: 500">%</span>
                        <p class="d">Satisfaction Rate</p> 
                    </div>
                </div>
                 <!-- Our Team -->
                <div class="team">
                    <div class="title_team">
                        <h4>BEST EXPERT TEAM</h4>
                        <h3>Our Professional Team</h3>
                        <p>We’re here to help you be the best you can be.</p>
                    </div>
                    <div class="col-lg-3 block1 text">
                            <h4>Harish Ham</h4>
                            <p>CEO</p>
                    </div>    
                    <div class="col-lg-3 block2 text">
                            <h4>Tanvir Hasan</h4>
                            <p>Doctor</p>
                    </div>
                    <div class="col-lg-3 block3 text">
                            <h4>Mikele John</h4>
                            <p>Doctor of Psychology</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <%- include("footer.ejs") %>
    <%- include("common_link_js.ejs")%>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script> 
</body>
</html>