<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Coaching</title>
    <link rel="stylesheet" href="/css/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%- include("stylesheet.ejs") %>
</head>
<body>
<%- include("head.ejs") %>
<section id="content">
    <div class="content__banner">
    </div>
    <div class="content__blog-btn">
        <p>BLOG</p>
    </div>
    <div class="content-list1">
        <div class="content-list1__item">
            <img src="images/imgs_blog/content-row1_1.png" alt="khoá học">
            <p><b><a href="#"> The Case for Human Skills in 2022 and Beyond</a></b></p>
        </div>
        <div class="content-list1__item">
            <img src="images/imgs_blog/content-row1_2.png" alt="khoá học">
            <p><b><a href="#"> New toolkit to help gyms make sport accessible</a></b></p>
        </div>
        <div class="content-list1__item">
            <img src="images/imgs_blog/content-row1_3.png" alt="khoá học">
            <p><b><a href="#"> Talented coaches chosen for prestigious Women’s Coaching Programme</a></b></p>
        </div>
    </div>
    <div class="content-list1">
        <div class="content-list1__item">
            <img src="images/imgs_blog/content-row1_1.png" alt="khoá học">
            <p><b><a href="#"> The nation’s best coaches announced as finalists for the UK Coaching Awards</a></b></p>
        </div>
        <div class="content-list1__item">
            <img src="images/imgs_blog/content-row1_2.png" alt="khoá học">
            <p><b><a href="#"> Coaching and the Position of Trust</a></b></p>
        </div>
        <div class="content-list1__item">
            <img src="images/imgs_blog/content-row1_3.png" alt="khoá học">
            <p><b><a href="#"> Let’s hear it for our incredible coaches on the first ever national Thank You Day</a></b></p>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
</body>
</html>