<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us E.Coaching</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/asset/css/blog_detail.css"/>
    <%- include("stylesheet.ejs") %>
</head>
<body>
    <div class="app">
        <%- include("head.ejs") %>
        <div class="container">
            <!--banner-->
            <div class="banner">
                <h1>BLOG / detail</h1>
            </div>    
            <!-- Content -->
            <article class="content">
                <div class="title">
                    <h3>The Case for Human Skills in 2022 and Beyond</h3>
                    <p>December 10, 2021</p>
                </div>
                <div class="content_body">
                    <div class="content1">
                        <p>
                            As online learning has flourished over the past decade, it’s often hard skills-focused courses that are in the spotlight. Depending on the career we want to pursue, from data scientist to supply chain manager, we have the ability to pick and choose the hard skills that we want to develop. More likely tharowot, you’ve signed up for one of these courses on edX! 
                        </p>
                        <p>
                            However, human skillsbody quickly becoming more essential and valuable for learners who are looking for opportunities to advance in their careers. As the workforce ebbs and flows, the job skills that are on the rise include leadership, project management, critical thinking, and writing.
                        </p>
                        <p>
                            These essential human skills make collaboration more powerful, work more productive, and relationships even stronger. At edX, we think of these as “power skills.” 
                        </p>
                    </div>
                    <div class="content2 row">
                        <div class="col-lg-7">
                            <p>
                                <img src="/images/imgs_blog_detail/image_article.png" alt="image_article"/> 
                            </p>
                        </div>
                        <div class="col-lg-3"> 
                            <p>
                                It may feel counterintuitive as we move further away from in-person work and learning, but these human skills are key to thriving in a virtual-first world, also called the “Virtual Age.” Skills like organization, time management, mental health resilience, and communication are all essential to making a remote environment feel productive, efficient, and collaborative.
                            </p>  
                            <p>
                                Today, edX offers courses and programs in a variety of these kinds of skills, from HarvardX’s  Remote Work Revolution for Everyone Course to CatalystX’s Inclusive Leadership Professional Certificate program to RITx’s MicroMasters® Project Management program.
                            </p> 
                        </div>
                    </div>
                    <div>
                        <div class="content1">
                            <p>
                                They create transformative outcomes for individuals—in your career, in your personal life, and beyond. We know that these skills can be hard to learn, and even harder to teach. But, we also know that as we enter the Virtual Age, they are more important than ever.
                            </p>
                        </div> 
                    </div>
                </div>
            </article>
        </div>
        <%- include("footer.ejs") %>
    
    </div>
</body>
</htmls