<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/contact.css"/>
    <%- include("stylesheet.ejs") %>
    <title>Contact</title>
</head>
<body>

<%- include("head.ejs") %>
    <div class="container">
        <div class="row center">
            <div class="img-contact">
                <img src="images/imgs_contact/contact-us.png"/>
            </div>
            <form>
                <div class="btn-contact-us">
                    <button class="btn-contact" type="submit">Contact </button>
                </div>
            </form>
            <div class="contact-us">
                <div class="box-1">
                    <p> Contact Us </p>
                </div>
                <div class="box-2">
                    <p> <span class="sp-box2"> Opening hours </span>  </br>
                        Monday to Thursday: 10am - 1pm and 2pm to 5pm </br>
                        Friday: 10am - 1pm and 2pm to 4:30pm </br>
                        Closed weekends </p>
                </div>
            </div>
            <form>
                <label class="form-label"> Your name<span class="text-red">*</span></label>
                <div class="form-yname">
                    <div class="form-yname1">
                        <input class="form-contact" type="text" name="user_name" placeholder=" "required/>
                    </div>
                    <div class="form-yname2">
                        <input class="form-contact" type="text" name="user_name" placeholder=" "required/>
                    </div>
                </div>
                <div class="form-mail-subj">
                    <label class="form-label-ms"> Email<span class="text-red">*</span> </label>
                    <input class="form-contact" type="email" name="email" placeholder=" "required/>
                    <label class="form-label-ms"> Subject<span class="text-red">*</span> </label>
                    <input class="form-contact" type="text" name="subject" placeholder=" "required/>
                </div>
                <div class="form-category">
                    <div class="form-ctgr">
                        <label> Category<span class="text-red">*</span></label>
                    </div>
                    <select class="form-select-ctgr form-contact" name="select-contact">
                        <option value="Please Select"> Please select </option>
                        <option> </option>
                        <option> </option>
                        <option> </option>
                    </select>
                </div>
                <div class="form-message">
                    <div class="form-label-msg">
                        <label class="">Message<span class="text-red">*</span></label>
                    </div>
                    <textarea class="form-textarea form-contact" name="description" rows="15" cols="100"></textarea>
                </div>
                <div>
                    <button class="btn-contact-send" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
<%- include("footer.ejs") %>

</body>
</html>