<!--content top-->
<div class="container">
    <div class="content-top">
        <div class="content-top-col">
            <h1>We’re here for the COACH</h1>
            <h3>Whatever your role - coach, facilitator, instructor, leader, teacher or trainer -
                if you’re helping people to be active and improve, we’re here for you. </h3>
        </div>
    </div>

</div>