<!--Code Footer-->

<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-row col-md-12">
            <div class="footer-introduce col-md-4">
                <img src="images/images_home/logo.png" alt="logo" class="footer-introduce-logo">
                <p class="footer-introduce--text">
                    Develop your skills to help you deliver excellent and inspiring coaching sessions to people from all walks of life.
                </p>
                <p class="footer-introduce--text">
                    Below you’ll find a variety of courses from UK Coaching and third parties to help, inspire, challenge and energise your learning journey.
                </p>
            </div>

            <div class="footer-explore col-md-4">
                <h4 class="footer-explore-heading">Explore</h4>
                <ul class="footer-explore-list">
                    <li><a href="/help-support">Help & Support</a></li>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy-policy">Privacy policy</a></li>
                </ul>
            </div>

            <div class="footer-address col-md-4">
                <h4 class="footer-address-heading">Address</h4>
                <ul class="footer-address-list">
                    <li><a href="tel:+(68) 345 5902">+(68) 345 5902</a></li>
                    <li><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></li>
                    <li>123 Fifth Floor East 26th Street</li>
                    <li>New York, NY 10011</li>
                </ul>
            </div>
        </div></div>

</footer>