<!--Code header-->

<header id="header" class="header">
    <div class="container">
        <div class="header-body">
            <div class="logo">
                <a href="#">
                    <img src="images/images_home/logo.png" alt="Logo"/>
                </a>
            </div>

            <div class="navigation">
                <ul class="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li>
                        <a href="#">Coaching Course</a>
                        <ul class="sub-menu">
                            <li><a href="#">Qualifications</a></li>
                            <li><a href="#">WorkShops</a></li>
                            <li><a href="#">Online Classes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="header-search">
                <div class="header-search__wrap">
                    <input type="text" class="header-search__input" placeholder="">

                    <!--Search history-->
                    <div class="header-search__history">
                        <h3 class="header-search__history-heading">History search</h3>
                        <ul class="header-search__history-list">
                            <li class="header-search__history-item">
                                <a href="">Key 1</a>
                            </li>
                            <li class="header-search__history-item">
                                <a href="">Key 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <buttom type="submit" class="header-search--icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </buttom>
            </div>
            <div class="header-btn">
                <button class="header-btn__link header-btn__link-active">Sign up</button>
                <button class="header-btn__link">Sign in</button>
            </div>
        </div>
    </div>
</header>