<!--Code header-->

<header id="header" class="header">
    <div class="header-row">
        <div class="container">
            <div class="header-body">
                <div class="logo">
                    <a href="/">
                        <img src="images/images_home/logo.png" alt="Logo"/>
                    </a>
                </div>
                <div class="navigation">
                    <ul class="nav-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About us</a></li>
                        <li>
                            <a href="/">
                                Coaching Course
                                <i class="rotate fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="/">Qualifications</a></li>
                                <li>
                                    <a href="/">WorkShops</a>
                                    <i class="fa-solid fa-angle-right"></i>
                                    <ul class="sub-menu-2">
                                        <li><a href="/">Courses free</a></li>
                                        <li><a href="/">Course fee</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/">Online Classes</a>
                                    <i class="fa-solid fa-angle-right"></i>
                                    <ul class="sub-menu-2">
                                        <li><a href="/">Online Classrooms</a></li>
                                        <li><a href="/">Live Webinars</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>

                <div class="header-search">
                    <div class="header-search__wrap">
                        <input type="text" class="header-search__input" placeholder="">

                        <!--Search history-->
                        <div class="header-search__history">
                            <h3 class="header-search__history-heading">History search</h3>
                            <ul class="header-search__history-list">
                                <li class="header-search__history-item">
                                    <a href="/">Courses free</a>
                                </li>
                                <li class="header-search__history-item">
                                    <a href="/">Key 2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <buttom type="submit" class="header-search--icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </buttom>
                </div>
                <div class="header-btn">
                    <a href="/register" class="header-btn__link header-btn__link-active">Sign up</a>
                    <a href="/sign-in" class="header-btn__link">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</header>