<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coaching</title>
    <link rel="stylesheet" href="css/home.css"/>
    <%- include("stylesheet.ejs") %>
</head>
<body>
<div class="app">
    <%- include("head.ejs") %>

    <section class="section">
        <div class="container">
            <!--Content top-->
            <div class="banner-top col-md-12 col-lg-12">
                <img src="images/images_home/content-top.jpg" alt="banner-top" class="banner-top__img"/>
                <div class="banner-top__text">
                    <h1 class="banner-top__heading">It’s time to <b>discover</b> yourself</h1>
                    <div class="banner-top__btn">
                        <a class="banner-top__btn--item banner-top__btn--item-active" href="#">OUR COURSE</a>
                        <a class="banner-top__btn--item" href="#">SIGN UP</a>
                    </div>
                </div>
            </div>

            <!--feature -->
            <div class="feature">

                <div class="row feature-top">
                    <div class="feature-text col-lg-7">
                        <h3 class="">Learn the secrets to Life Success</h3>
                        <p>We develop inspiring coaches to bring #GreatCoaching to the lives of millions</p>
                    </div>
                </div>

                <div class="row feature-main">

                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-1.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Expert Teacher</h4>
                                <p>Always bring you the latest and most up-to-date knowledge and skills</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-2.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Self Development</h4>
                                <p>Develop skills for career of various majors including computer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-3.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Remote Learning</h4>
                                <p>Learn anywhere, anytime. Flexible time, suitable for busy people</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-4.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Life Time Support</h4>
                                <p>24/7 support. Ready to answer all questions when learning online</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--content about us-->
            <div class="section-about-us">
                <div class="row">
                    <div class="section-about-us-img col-md-6">
                        <img src="images/images_home/img-post-1.jpg" alt="about us home"/>
                    </div>
                    <div class="section-about-us-content col-md-6">
                        <div class="section-about-us-content--text">
                            <h4>SELF DEVELOPMENT COURSE</h4>
                            <h3>Get Instant Access To
                                Expert solution</h3>
                            <p>The ultimate planning solution for busy women who want to reach their personal goals .Effortless comfortable eye-catching unique detail</p>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    High Quality Video Details
                                </li>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    Powerful Audiance
                                </li>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    Premium Content Worldwide
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="section-about-us-content-link">OUR COURSE</a>
                    </div>
                </div>
            </div>

            <!---->
        </div>
    </section>

    <%- include("footer.ejs") %>
</div>
</body>
</html>