<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Classes Pay fee </title>
    <link rel="stylesheet" href="vendors/fonts/themify-icons/themify-icons.css">
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="css/online_classes_payfee.css">
</head>
<body>
<%- include("head.ejs") %>
<section id="content">
    <div class="container">
        <div class="content__heading flexbox">
            <div class="content__blog-btn">
                <p> ONLINE CLASSES</p>
            </div>
            <div class="content__text">
                <p>ONLINE CLASSES <span>(PAY FEE)</span></p>
                <p>Understand Connect, Thrive: Knowing Your People</p>
            </div>
        </div>

        <!-- start: basket -->
        <form class="content__basket content-font col-md-7">
            <div class="basket-item ">
                <h2>Basket</h2>
                <table>
                    <thead class="basket-thead">
                            <th class="item__1">Product</th>
                            <th class="item__2">Unit Price</th>
                    </thead>
                    <tbody class="basket-tbody js-course">
                        <tr class="basket-product ">
                            <td class="product__1">Safeguarding & Protecting Children (Online Classroom) - 35744</td>
                            <td class="product__2">$<span>33.00</span></td>
                            <td class="product__3"><img src="images/imgs_payfee/clear.png" class="delete" alt="clear"></td>
                        </tr>
                        <tr class="basket-product ">
                            <td class="product__1">Safeguarding & Protecting Children (Online Classroom) - 35744</td>
                            <td class="product__2">$<span>33.00</span></td>
                            <td class="product__3"><img src="images/imgs_payfee/clear.png" class="delete" alt="clear"></td>
                        </tr>
                        <tr class="basket-product ">
                            <td class="product__1">Safeguarding & Protecting Children (Online Classroom) - 35744</td>
                            <td class="product__2">$<span>33.00</span></td>
                            <td class="product__3"><img src="images/imgs_payfee/clear.png" class="delete" alt="clear"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="basket-total">
                    <p><b> Sub Total </b>$<span></span></p>
                </div>
                <div class="basket-discount flexbox between">
                    <label style="line-height: 40px;"><b> Discount code</b></label>
                    <div class="posi">
                        <input class="js-value" name="code-discount" type="text"/>
                        <img src="images/imgs_payfee/tick.png" class="tick js-tick" alt="ok">
                        <img src="images/imgs_payfee/clear.png" class="error js-error" alt="error">
                    </div>
                    <button onclick="check()" type="button" >ENTER</button>
                </div >
                </div>
        </form>

        <!-- start: summary -->
        <div class="content__summary col-md-5">
            <div class="summary-item content-font">
                <h2>Summary</h2>
                <div class="summary-itembox ">
                    <div class="summary-vat flexbox between">
                        <p><b>Includes VAT</b></p>
                        <p style="color: #61B7B2;">$<span>0.00</span></p>
                    </div>
                    <div class="summary-oclass flexbox between">
                        <p><b>Discount code</b></p>
                        <p style="color: #61B7B2;">$<span>0.00</span></p>
                    </div>
                    <div class="summary-total flexbox between">
                        <p><b> Total price:</b></p>
                        <p style="color: #61B7B2;">$<span></span></p>
                    </div>
                    <table>
                        <tr>
                            <td><b>Payment:</b></td>
                            <td>
                                <label for="radio1" class="radio">
                                    <input type="radio" name="pay" value="cash" id="radio1" checked>
                                    <div class="icon-radio"></div>
                                    Cash
                                </label>
                            </td>
                            <td>
                                <label for="radio2" class="radio">
                                    <input type="radio" name="pay" value="Visa/Master" id="radio2">
                                    <div class="icon-radio"></div>
                                    Visa/Master
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="summary-submit">
                <button type="button" class="submit-btn" id="js-submit"><b> PAYMENT</b></button>
            </div>
        </div>
    </div>
</section>

<!-- start: modal -->
</div>
<div class="modal js-modal">
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <img src="images/imgs_payfee/close.png"  alt="close">
        </div>
        <div class="modal-body">
            <img src="images/imgs_payfee/check.png" class="check" alt="check">
            <p><b>Your booking is successful. Please, check email for bill.</b></p>
        </div>
    </div>
</div>

<div id="toast">
</div>



<%- include("footer.ejs") %>
<%- include("common_link_js") %>
<!--show and hide submit-->
<script>

    //modal : thanh toán thành công

    const submit = document.getElementById('js-submit')
    const modal = document.querySelector('.js-modal')
    const modalContainer = document.querySelector('.js-modal-container')
    const modalClose = document.querySelector('.js-modal-close')
    function paySuccess() {
        // hiện thông báo
        function showSubmit(){
            modal.classList.add('open')
        }
        // ẩn thông báo
        function hideSubmit(){
            modal.classList.remove('open')
        }
        submit.addEventListener('click', showSubmit)

        modalClose.addEventListener('click', hideSubmit)

        modal.addEventListener('click', hideSubmit)

        modalContainer.addEventListener('click', function (event) {
            event.stopPropagation()
        })
    }

        // hiện không thanh toán được
        function toast({
                           title = '',
                           message = '',
                           duration = 3000
                       }) {
            const main = document.querySelector('#toast');
            if (main) {
                const toast = document.createElement('div');
                toast.classList.add('toast');
                // xoá class toast
                const autoRemove = setTimeout(function () {
                    toast.remove('toast')
                }, duration + 1000);

                // ấn vào close xoá toast
                toast.onclick = function (e) {
                    if (e.target.closest('.toast__close')) {
                        toast.remove('toast');
                        clearTimeout(autoRemove);
                    }
                };
                const delay = (duration / 1000).toFixed(2);
                toast.style.animation = `slideInLeft ease .5s, fadeOut linear 1s ${delay}s forwards`;
                var icon = 'fa-solid fa-circle-exclamation';
                toast.innerHTML = `
            <div class="toast__icon">
                 <i class="${icon}"></i>
            </div>
            <div class="toast__body">
                <h3><b>${title}</b></h3>
                <p>${message}</p>
            </div>
            <div class="toast__close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        `;
                main.appendChild(toast);
            }
        }
        function errorSuccess() {
             toast({
                title: 'Thất bại',
                message: 'Không thể thanh toán, vui lòng chọn khoá học để thanh toán.',
                duration: 2000
            })
        }




//    hiển thị tick

    var code = document.querySelector('.summary-oclass span');

    function check() {
        var tick = document.querySelector('.js-tick');
        var error = document.querySelector('.js-error');
        var valueInput = document.querySelector('.js-value').value;

        function showTick() {
            tick.classList.add('open');
            error.classList.remove('open');
        }

        //  ẩn stick
        function showError() {
            tick.classList.remove('open');
            error.classList.add('open');
        }

        if (valueInput == 12345) {
            showTick();
            code.innerHTML = '15.00';
        } else {
            showError();
            code.innerHTML = '0.00';
        }
        subTotal()
    }


        // total price

    function subTotal() {
        var cartItem = document.querySelectorAll('.basket-item tbody tr');
        var total = 0;
        for (var i = 0; i < cartItem.length; i++) {
            var priceItem = cartItem[i].querySelector('span').innerHTML;
            var price = Number.parseFloat(priceItem);
            total += price;
            }
        var totalSub = document.querySelector('.basket-total span');
        totalSub.innerHTML =total.toFixed(2);
        function totalPrice() {
            var vat = Number.parseFloat(document.querySelector('.summary-vat span').innerHTML);
            var iCode = Number.parseFloat(code.innerHTML);
            var tprice = document.querySelector('.summary-total span');
            var result = Number.parseFloat(document.querySelector('.basket-total span').innerHTML) - vat -iCode;
            if(Number.parseFloat(totalSub.innerHTML) == '0.00'){
                tprice.innerHTML = '0.00';
                submit.addEventListener('click', errorSuccess) // thông báo k thánh toán đc
            }else{
                console.log(totalSub.innerHTML)
                paySuccess(); // thông báo thanh toán thành công
                tprice.innerHTML = result.toFixed(2);
            }
        }
        totalPrice();
        }
        subTotal();


    //delele item


    var deleteItems = document.querySelectorAll('.delete');
    for(var deleteItem of deleteItems) {
        deleteItem.addEventListener('click', function (event) {
            var cartDelete = event.target;
            var cartItem = cartDelete.parentElement.parentElement;
            cartItem.remove();
            subTotal();
        })
    }


</script>


</body>
</html>