<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Term</title>
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/terms.css">

</head>
<body>
    <!--header-->
    <%- include("head.ejs")%>

    <!--main section-->
    <section class="main-section">
       <%- include("content_top_heading.ejs")%>
        <div class="container">
            <div class="content-name">
                <h3>TERMS</h3>
            </div>
        </div>
        <div class="container">
            <div class="content-text">
                <h3>On October 28, 2019, edX adopted amended Terms of Service, providing as follows:</h3>
                <p>
                    Welcome to edX. Please read these Terms of Service (“TOS”) and Honor Code prior to registering
                    for an account on edX. org or using any portion of the edX website or mobile applications
                    (collectively, the “edX Site,” which consists of all content
                    and pages located within the edX.org web domain and all edX mobile applications),
                    including accessing any course material, chat rooms, or other electronic services.
                    These TOS and the Honor Code that follows are agreements (the “Agreements”) between you and edX LLC.
                    By using the edX Site, you accept and agree to be legally bound by the Agreements,
                    whether or not you are a registered user. Please also read the Privacy Policy for the edX Site
                    before you use any portion of the edX Site. The Privacy Policy describes how your personal data is collected
                    and processed when you use the edX Site. If you do not understand or do not wish to be bound by the terms
                    of the Agreements or Privacy Policy, you should not use the edX Site.
                </p>
                <p>
                    EdX reserves the right to modify these TOS at any time without advance notice.
                    Any changes to these TOS will be effective immediately upon posting on this page,
                    with an updated effective date. By accessing the edX Site after any changes have been made,
                    you signify your agreement on a prospective basis to the modified TOS and all of the changes.
                    Be sure to return to this page periodically to ensure familiarity with the most current version
                    of these TOS.
                </p>
                <p>
                    Any version of these TOS in a language other than English is provided for convenience
                    and you understand and agree that the English language version will control if there is any conflict.
                </p>
                <p>Rules for Online Conduct</p>
                <p>
                    You agree that you are responsible for your own use of the edX Site and for your User Postings.
                    “User Postings” means all content submitted, posted, published, or distributed on the edX Site by you
                    or other users of the edX Site, including but not limited to all forum posts, wiki edits, notes,
                    questions, comments, videos, and file uploads. You agree that you will use the edX Site in compliance
                    with these Agreements, and all applicable local, state, national and international laws, rules and regulations,
                    including copyright laws, any laws regarding the transmission of technical data exported from your country
                    of residence, and all United States export control laws.
                </p>
                <p>
                    As a condition of your use of the edX Site, you will not use the edX Site in any manner intended to damage,
                    disable, overburden, or impair any edX server or the network(s) connected to any edX server or to interfere
                    with any other party’s use and enjoyment of the edX Site. You may not attempt to gain unauthorized access
                    to the edX Site, other accounts, computer systems, or networks connected to any edX server through hacking,
                    password mining, or any other means. You may not obtain or attempt to obtain any materials or information stored
                    on the edX Site, its servers, or associated computers through any means not intentionally made available through
                    the edX Site. If you are a registered user, you will not share your password or let anyone else access or compromise
                    your account.
                </p>
                <p>
                    Furthermore, you agree not to scrape, or otherwise download in bulk, any edX Site content, including
                    but not limited to a list or directory of users on the system, User Postings or user information,
                    online textbooks, course materials, or trademarks and logos. You agree not to misrepresent or attempt
                    to misrepresent your identity while using the edX Site .
                </p>
            </div>
        </div>
    </section>


    <!--footer-->
    <%- include("footer.ejs")%>
</body>
</html>