:root{
    --color: #20ad96;
}
img{
    width: 100%;
}
#content{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#content .container{
    padding: 0 140px;
}
#content .content__banner{

    margin: 0 30px;
}
#content .content__blog-btn{
    background-color: var(--color);
    color: #fff;
    border-radius: 10px;
    width: 469px;
    height: 98px;
    margin-bottom: 100px;
}
#content .content__blog-btn p{
    font-size: 25px;
    line-height: 98px;
    text-align: center;
}
#content .content-list1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    font-size: 25px;
    color: #3F3A64;
}
#content .content-list1 .content-list1__item{
    width: 349px;
    height: 534px;
    border-radius: 10px;
    box-shadow: 0 0 5px #888;
}
#content .content-list1 a{
    text-decoration: none;
}
#content .content-list1 a:hover{
    color: var(--color);
}

#content .content-list1__item p{
    padding: 24px 24px 90px;

}