*{
    box-sizing: border-box;
}
.container{
    width: 1440px;
}
.img-contact img{
    width: 100%;
}
.btn-contact{
    background-color: #3ABAB3;
    width: 25%;
    padding: 25px;
    margin-left: 265px;
    font-size: 27px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 1px;
    border: none;
}
.contact-us{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.box-1{
    font-weight: 600;
    font-size: 50px;
    color: #3F3A64;
    margin-top: 30px;
    margin-right: 50px;
}
.box-2{
    font-size: 15px;
    color: #88859F;
    padding-top: 40px;
    margin-left: 265px;
}
.sp-box2{
    color: #707070;
}
.form-contact{
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 3px solid #C9C9C9;
    padding: 15px;
    margin-bottom: 20px;
}
label{
    color: #3F3A64;
}
.text-red{
    color: red;
}
.form-yname{
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}
.form-label{
    margin-left: 265px;
}
.form-yname1{
    width: 33.33%;
    margin-left: 245px;
    padding: 10px;
}
.form-yname2{
    width: 33.33%;
    margin-right: 215px;
    padding: 10px;
}
.form-mail-subj{
    width: 65.50%;
    margin-left: 265px;
}
.form-label-ms{
    margin-bottom: 10px;
}
.form-category{
    width: 90%;
    margin-left: 265px;
    margin-bottom: 10px;
}
.form-ctgr{
    margin-bottom: 10px;
}
.form-select-ctgr{
    width: 73%;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #C9C9C9;
    margin-bottom: 10px;
}
.form-message{
    width: 90%;
    margin-left: 265px;
}
.form-label-msg{
    margin-bottom: 10px;
}
.form-textarea{
    width: 73%;
    border-radius: 10px;
    border: 3px solid #C9C9C9;
}
.btn-contact-send{
    background-color: #61B7B2;
    color: #ffffff;
    padding: 10px;
    width: 10%;
    border-radius: 15px;
    border: 1px solid #61B7B2;
    margin-left: 1070px;
    margin-top: 50px;
    margin-bottom: 50px;
}
button[type=submit]:hover {
    background-color: #1b6d85;
}