
.footer{
    background-color: #F2F8FA;
    font-family: 'Noto Sans', sans-serif;
    color: #3F3A64;
}
.footer-row{
    padding: 75px 134px 40px;
}
.footer-introduce{

}
.footer-introduce-logo{
    height: 30px;
    width: 125px;
    margin-bottom: 16px;
}
.footer-introduce--text{
    margin-left: 26px;
    font-size: 18px;
    padding-right: 40px;
    margin-bottom: 4px;
}
.footer-explore{
    padding-left: 50px;
    padding-right: 0;
}
.footer-explore-heading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-explore-list{
    padding: 0;
    list-style: none;/*
    display: flex;
    justify-content: space-between;*/
}
.footer-explore-list a{
    font-size: 18px;
    color: #3F3A64;
}
.footer-explore-list li a:hover{
    color: #7BC3BF;
}

.footer-social-network{
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
}
.footer-social-network h4{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-social-network ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footer-social-network ul li{
    margin-bottom: 5px;
}
.social-network-link{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}
.social-network-link .social-network-link-icon{
    width: 30px;
    height: 30px;
    background-color: #3F3A64;
    border-radius: 50%;
    margin-right: 8px;
}
.social-network-link-icon i{
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    line-height: 30px;
}
.social-network-link:hover{
    text-decoration: none;
}
.social-network-link span{
    display: block;
    color: #3F3A64;
    font-size: 18px;
}
.social-network-link:hover .social-network-link-icon{
    background-color: #198d7b;
    transition: 0.3s;
}
.social-network-link:hover .social-network-link-icon i{
    color: #ffffff;
    transition: 0.3s;
}
.social-network-link:hover span{
    color: #7BC3BF;
    transition: 0.3s;
}

.footer-address-heading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-address-list{
    list-style: none;
    padding: 0;
    color: #3F3A64;
    font-size: 18px;
}
.footer-address-list a{
    color: #3F3A64;
}
.footer-address-list li{
    margin-bottom: 4px;
}
.footer-address-list li a:hover{
    color: #7BC3BF;
}