
.footer{
    background-color: #F2F8FA;
    font-family: 'Nanum Myeongjo', serif;
}
.footer-row{
    padding: 75px 134px 40px;
}
.footer-introduce{

}
.footer-introduce-logo{
    height: 30px;
    width: 125px;
    margin-bottom: 16px;
}
.footer-introduce--text{
    margin-left: 26px;
    font-size: 20px;
    padding-right: 40px;
    margin-bottom: 4px;
    color: #676666;
}
.footer-explore{
    padding-left: 50px;
    padding-right: 0;
}
.footer-explore-heading{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
}
.footer-explore-list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-explore-list a{
    color: #676666;
    font-size: 18px;
}
.footer-explore-list li:hover a{
    color: #7BC3BF;
}
.footer-address{
    padding-left: 100px;
}
.footer-address-heading{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
}
.footer-address-list{
    list-style: none;
    padding: 0;
    color: #676666;
    font-size: 18px;
}
.footer-address-list a{
    color: #676666;
}
.footer-address-list li{
    margin-bottom: 4px;
}
.footer-address-list li:hover a{
    color: #7BC3BF;
}