
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100px;
}
.header-row{
    font-family: 'Noto Sans', sans-serif;
    /*font-style: italic;*/
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.logo{
    flex: 1;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 125px;
    height: 30px;
}
.navigation{
    flex: 2;
}
.nav-menu{
    font-size: 16px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 0;
    margin-right: 60px;
    margin-left: 5px;
}
.nav-menu li{
    position: relative;
}
.nav-menu a{
    text-decoration: none;
    color: #3F3A64;
}
.nav-menu a i{
    margin-left: 5px;
    font-size: 17px;
}
.nav-menu li:hover>a{
    color: #7BC3BF;
    transition: 0.3s;
}
.nav-menu li:hover>.sub-menu{
    display: block;
    transform-origin: top;
    -webkit-animation: fade-in ease-out 0.3s;
    will-change: opacity, transform;
}
.nav-menu li:hover .rotate{
    transform: rotate(180deg);
    transition: 0.4s;
}
/*Sub menu*/
.sub-menu{
    width: calc(100% + 30px);
    list-style: none;
    position: absolute;
    padding: 0;
    margin-top: 10px;
    background-color: #ffffff;
    border-top: 1px solid #7BC3BF;
    border-radius: 5px;
    box-shadow: 0 0 10px #cccccc;
    display: none;
    z-index: 1;
}
.sub-menu::before{
    content: "";
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
}
.sub-menu li{
    padding: 10px 16px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
}
.sub-menu li a{
    display: block;
    width: 100%;
}
.sub-menu li:hover i{
    color: #7BC3BF;
    transition: 0.3s;
    transform: rotate(180deg);
}
.sub-menu li:last-child{
    border-bottom: none;
}
.sub-menu li:hover .sub-menu-2{
    display: block;
    transform-origin: left;
    -webkit-animation: fade-in ease-out 0.3s;
    will-change: opacity, transform;
}

/*sub-menu-2*/
.sub-menu-2{
    width: calc(100% + 30px);
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    border-left: 1px solid #7BC3BF;
    border-radius: 5px;
    box-shadow: 0 0 10px #cccccc;
    position: absolute;
    left: calc(100% + 4px);
    top: 10px;
    z-index: 99;
    display: none;
}
.sub-menu-2::after{
    content: "";
    height: 100%;
    width: 5px;
    position: absolute;
    left: -4px;
    top: 0;
}
.sub-menu-2 li:hover a{
    color: #7BC3BF;
    transition: 0.3s;
}

.header-search{
    height: 40px;
    width: 140px;
    background-color: #f5f5f5f5;
    flex: 0.7;
    border-radius: 6px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-search__wrap{
    height: 100%;
    flex: 1;
    position: relative;
}
.header-search__input{
    background-color: #f5f5f5f5;
    padding-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}
.header-search__input:focus ~ .header-search__history{
    display: block;
}

/*Search history*/
.header-search__history{
    width: 100%;
    position: absolute;
    padding: 0;
    margin-top: 10px;
    background-color: #ffffff;
    border-top: 1px solid #7BC3BF;
    border-radius: 5px;
    box-shadow: 0 0 10px #cccccc;
    display: none;
    z-index: 1;
}
.header-search__history-heading{
    font-size: 15px;
    color: #bbb7b7;
    padding-left: 10px;
}
.header-search__history-list{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.header-search__history-item{
    padding: 10px 18px;
}
.header-search__history-item:hover{
    background-color: #eeeeee;
    border-radius: 6px;
}
.header-search__history-item a{
    text-decoration: none;
    color: #676666;
}

.header-search--icon{
    color: #7BC3BF;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
}
.header-btn{
    flex: 1;
    font-size: 16px;
}
.header-btn__link{
    position: relative;
    background-color: #ffffff;
    color: #3F3A64;
    padding: 9px 18px;
    margin: 0 5px;
    border: none;
    border-radius: 6px;
}
.header-btn__link::after{
    content: "";
    height: 2px;
    background-color: #3F3A64;
    position: absolute;
    top: calc(100% - 2px);
    left: 3px;
    right: 3px;
}
.header-btn__link.header-btn__link-active::after{
    content: "";
    height: 2px;
    background-color: #7BC3BF;
    position: absolute;
    top: calc(100% - 2px);
    left: 3px;
    right: 3px;
}

.header-btn__link:hover,
.header-btn__link.header-btn__link-active:hover {
    text-decoration: none;
    transition: 0.5s;
    border: none;
    background-color: #7BC3BF;
    color: #ffffff;
}
.header-btn__link:hover::after,
.header-btn__link.header-btn__link-active:hover ::after{
    display: none;
}

@keyframes fade-in {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}