*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}


.section{
    display: block;
    font-family: 'Noto Sans', sans-serif;
    color: #3F3A64;
}
/*banner-top*/
.banner-top{
    width: 100%;
    padding: 0;
    position: relative;
}
.banner-top__img{
    width: 100% !important;
}
.banner-top__text{
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}
.banner-top__heading{
    color: #ffffff;
    font-size: 80px;
    font-weight: 400;
}
.banner-top__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.banner-top__btn--item{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    display: block;
    min-width: 150px;
    padding: 13px 30px;
    margin: 0 16px;
    border-radius: 6px;
    border: 2px solid #ffffff;
}

.banner-top__btn--item:hover{
    background-color: #ffffff;
    color: #20ad96;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.8;
}
.banner-top__btn--item.banner-top__btn--item-active{
    background-color: #20ad96;
    border: 2px solid #20ad96;
}
.banner-top__btn--item.banner-top__btn--item-active:hover{
    background-color: #198d7b;
    color: #ffffff;
    border-color: #198d7b;
    text-decoration: none;
    transition: 0.5s;
}
.feature{
    width: 100%;
    margin: 40px 0;
    float: left;
}
.feature-top{
    display: flex;
    justify-content: center;
}
.feature-text{
    text-align: center;
    justify-content: center;
}
.feature-text h3{
    font-size: 26px;
    font-weight: 500;
}
.feature-text p{
    font-size: 16px;
}

.feature-main{
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
    margin-top: 15px;
}
.feature-item{
    text-align: center;
}
.feature-item--icon{
    width: 100%;
}
.feature-item-img:hover {
    transform: translateY(-15%);
    transition: 0.5s;
    cursor: default;
}
.feature-item:hover .feature-item--text h4{
    color: #20ad96;
}
.feature-item-img{
    width: 30%;
    margin: 10px auto;
}
.feature-item--text h4{
    font-size: 18px;
    font-weight: 600;
}
.feature-item--text p{
    font-size: 18px;
    display: table;
}

    /*section-about-us*/
.section-about-us{
    width: 100%;
    padding: 0 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.row .section-about-us-img{
    padding: 25px 28px;
}
.section-about-us-img img{
    width: 100%;
    box-shadow: 0 0 5px #cccccc;
    border-radius: 26px;
}
.section-about-us-content{

}
.section-about-us-content--text{
    padding: 70px 0 0 40px;
    word-spacing: 2px;
}
.section-about-us-content--text h4{
    font-size: 20px;
    color: #61B7B2;
    font-weight: 500;
}
.section-about-us-content--text h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
}
.section-about-us-content--text p{
    font-size: 16px;
}
.section-about-us-content--text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.section-about-us-content--text ul li{
    padding: 5px ;
}
.section-about-us-content--text ul li i{
    margin-right: 16px;
    color: #3ABAB3;
    font-size: 18px;
}
.section-about-us-content-link{
    display: block;
    float: right;
    margin-top: 30px;
    padding: 15px 35px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
    background-color: #61B7B2;
    transition: 0.3s;
}
.section-about-us-content-link:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #378886;
}

/*Popular-course*/
.popular-course{
    width: 100%;
    background-color: #FAF9F8;
    padding: 0 50px;
}
.popular-course__content{
    text-align: center;
    margin-top: 60px;
    display: block;
}
.popular-course__content h4{
    text-transform: uppercase;
    font-size: 20px;
    color: #61B7B2;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.popular-course__content h3{
    font-size: 40px;
    font-weight: 400;
    margin-top: 14px;
}
.popular-course__content p{
    font-size: 20px;
}
.popular-course__list{
    width: 100%;
    padding: 0 90px;
    display: flex;
    margin-top: 15px;
}

.popular-course__item{
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
}
.popular-course__item:hover .popular-course__item-row{
    transform: translateZ(2px);
    box-shadow: 0 0 22px #b4b0b0;
    transition: 0.3s;
}
.popular-course__item-row{
    background-color: #ffffff;
    box-shadow: 0 0 5px #cccccc;
    padding-bottom: 25px;
    border-radius: 12px;
    overflow: hidden;
}
.popular-course__item--icon{
    height: 270px;
}
.popular-course__item--icon img {
    width: 100%;
    height: 100%;
}
.popular-course__item--text{
    width: 100%;
    margin-top: 10px;
    padding: 5px 20px;
    position: relative;
}
.popular-course__item--text h4{
    font-size: 25px;
    font-weight: 500;
    padding: 0 20px;
    line-height: 30px;
    height: 90px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.popular-course__item--text h4 a{
    color: #3F3A64;
}
.popular-course__item--text h4:hover a{
    text-decoration: none;
    color: #378886;
    transition: 0.4s;
}
.course-rate{
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-rate__text{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
}


.popular-course__item--point{
    font-size: 34px;
    font-weight: 600;
    color: #61B7B2;/*
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 0 10px #d24b74;*/
    margin-left: 10px;
}
.popular-course__item--text p{
    margin: 82px 0 0 110px;
}
.popular-course__text{
    display: flex;
    margin: 70px auto;
    width: 50%;
    text-align: center;
}
.popular-course__text p{
    font-size: 20px;
    font-style: italic;
}
.popular-course__text p a{
    text-decoration: underline;
    margin-bottom: 0;
}

/*statistical*/
.statistical{
    width: 100%;
    margin-top: 65px;
    padding: 0 100px;
}
.statistical-heading{
    width: 70%;
    display: block;
    text-align: left;
    margin-bottom: 50px;
    padding-left: 54px;
}
.statistical-heading h4{
    font-size: 20px;
    font-weight: 600;
    color: #61B7B2;
    text-transform: uppercase;
}
.statistical-heading h3{
    font-size: 40px;
    word-spacing: 3px;
}
.statistical-data{
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}

.statistical-item--data{
    font-size: 60px;
    color: #61B7B2;
    font-weight: 700;
}
.statistical-item--data span{
    font-size: 40px;
}
.statistical-item p{
    font-size: 16px;
    font-weight: 600;
}

/*Popular-blog*/
.Popular-blog{
    padding: 0 50px;
}

.Popular-blog_item-date{
    display: block;
    margin: 20px 20px 0 ;
}
.popular-course__item--btn{
    font-size: 16px;
    color: #ffffff;
    display: block;
    float: right;
    padding: 8px 55px;
    background-color: #61B7B2;
    margin-right: 24px;
    border-radius: 8px;
    margin-top: 6px;
}
.popular-course__item--btn:hover{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    background-color: #378886;
}

/*subscribe-form*/
.subscribe-form{
    padding: 0 71px;
    margin: 85px;
}
.subscribe-form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-form__text h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #61B7B2;
}
.subscribe-form__text h3{
    font-size: 40px;
    font-weight: 400;
}
.subscribe-form--main{
    width: 46%;
    border: 2px solid rgba(112,112,112,0.6);
    border-radius: 10px;
}
.subscribe-form--main form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-form--main-input{
    flex: 1;
    padding: 14px 10px;
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
}

.subscribe-form--main-submit{
    padding: 10px 38px;
    margin-right: 13px;
    border: none;
    border-radius: 12px;
    background-color: #61B7B2;
    color: #ffffff;
    font-size: 12px;
}
.subscribe-form--main-submit:hover{
    background-color: #378886;
    transition: 0.5s;
}
