.input{
    display: flex;
    margin-left: 650px;
    margin-top: -50px;
    margin-bottom: 40px;
}
.content-name:hover{
    background-color: rgba(97,183,178, 0.8);
    transition: 0.5s;
}
.input {
    display: flex;
    position: relative;

}
.input::after{
    content: "";
    height: 2px;
    position: absolute;
    top: 48px;
    left: -149px;
    right: 207px;
    background: #3abab3;
}