:root{
    --color: #20ad96;
}
.flexbox{
    display: flex;
}
.between{
    justify-content: space-between;
}

#content{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#content .container{
    padding: 0 140px;
}
.modal.open{
    display: flex;
}

#content .content__blog-btn{
    background-color: var(--color);
    color: #fff;
    border-radius: 10px;
    width: 350px;
    height: 98px;
    display: inline-block;
    flex-grow: 3;
}
#content .content__blog-btn p{
    font-size: 25px;
    line-height: 98px;
    text-align: center;
    padding: 0 48px;
}
#content .content__text{
    flex-grow: 7;
    padding-left: 16px;
}
#content .content__text p:first-child{
    color: #61B7B2;
    font-size: 20px;

}#content .content__text span{
     color: #C93D5B;
 }
#content .content__text p:last-child{
    font-size: 25px;
    padding-top: 5px;
}

#content .content-font{
    background-color: #e6e3e3;
    margin-top: 70px;
}
#content .basket-item > h2{
    font-size: 40px;
}
#content .basket-item{
    padding: 48px 24px;
}
#content .basket-item div{
    justify-content: space-between;
}
#content .basket-item .basket-item2{
    padding: 18px 32px;
    font-size: 20px;
}
#content .basket-item .basket-item1{
    padding: 18px 32px 8px;
    font-size: 20px;
}
#content .basket-item1 .item__2{
    padding-left: 433px;
}
#content .basket-item div + div{
    border: 1px solid #3F3A64;
    border-radius: 5px;
    background-color: #fff;
    color: #3F3A64;
}
#content .summary-item{
    padding: 48px 24px;
}
#content .summary-item > h2{
    font-size: 40px;
}
#content .content__summary{
    margin-bottom: 50px;
}
#content .content__summary .summary-itembox{
    padding: 32px;
}
#content .content__summary .summary-oclass{
    font-size: 20px;
    padding: 16px 0;
    color: #3F3A64;
    border-bottom: 1px solid #3F3A64;
}

#content .content__summary .summary-vat{
    font-size: 20px;
    padding: 16px 0;
    color: #3F3A64;
}

#content .content__summary .summary-discount{
    font-size: 20px;
    padding: 16px 0;
}
#content .content__summary .summary-discount input{
    width: 600px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #3F3A64;
    outline: none;
    font-size: 20px;
    padding-left: 16px;
}
#content .content__summary .summary-discount button{
    width: 150px;
    background-color: #61B7B2;
    border-radius: 8px;
    color: #fff;
    border: none;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#content .content__summary .summary-total{
    font-size: 20px;
    padding: 16px 0;
    border-top: 1px solid #3F3A64;
    border-bottom: 1px solid #3F3A64;
}
#content .summary-submit  button{
    width: 150px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #D0D1D3;
    float: right;
    margin-top: 16px;
    cursor: pointer;
}
#content .content__summary .summary-submit{
    height: 80px;
    background: #fff;
}

#content .content__summary button + button{
    color: #fff;
    background-color: #61B7B2;
    margin-right: 8px;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}
.modal .modal-container{
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    width: 900px;
    max-width: calc(100% -100px);
}
.modal .modal-close{
    position: absolute;
    border: 1px solid;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    top: 16px;
    right: 16px;
    cursor: pointer;
    z-index: 9999;
}
.modal .modal-body{
    padding: 50px;
    font-size: 25px;
    text-align: center;
}
.modal .modal-body .check{
    font-size: 50px;
    font-weight: 700;
    color: #61B7B2;
}