*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
img{
    width: 100%;
}
p{
    margin: 0 !important;
}
:root{
    --color: #20ad96;
}
.flexbox{
    display: flex;
}
.between{
    justify-content: space-between;
}

#content{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    color: #3F3A64;
}
#content .container{
    padding: 0 140px;
}
.modal.open,
.error.open,
.tick.open{
    display: flex;
}
#content .content__heading{
    margin-top: 50px;
}
#content .content__blog-btn{
    background-color: var(--color);
    color: #fff;
    border-radius: 12px;
    padding: 0 64px;
    height: 98px;
    display: inline-block;
    flex-grow: 3;
}
#content .content__blog-btn p{
    font-size: 25px;
    line-height: 98px;
    text-align: center;
    padding: 0 48px;
}
#content .content__text{
    flex-grow: 7;
    padding-left: 16px;
    padding-top: 9px;
}
#content .content__text p:first-child{
    color: #61B7B2;
    font-size: 20px;
    font-weight: 700;

}#content .content__text span{
     color: #C93D5B;
 }
#content .content__text p:last-child{
    font-size: 25px;
    padding-top: 5px;
    font-weight: 700;
}
#content .content-font{
    background-color: #fff;
    border: 2px solid;
    border-radius: 12px;
}
#content .content__basket{
    margin-top: 77px;
    font-size: 20px;
}
#content .content__basket table{
    display: block;
}
#content .basket-item > h2{
    font-size: 40px;
}
#content .basket-item{
    padding: 35px 31px 47px;
}
#content .basket-item .basket-thead{
    border-bottom: 1px solid ;
    display: block;
}
#content .basket-item .basket-thead .item__2{
    padding-left: 300px;
}
#content .basket-item .basket-tbody{
    display: block;
}
#content .basket-item .basket-tbody tr td{
    padding: 14px 0;
    border-bottom: 1px solid ;
}

#content .basket-tbody .basket-product .product__2{
    padding-left: 65px;
}
#content .basket-tbody .basket-product .product__3{
    padding-left: 75px;
    padding-right: 18px;
}
#content .basket-tbody .basket-product img{
    cursor: pointer;
    width: 36px;
    height: 33px;
    position: relative;

}
#content .basket-item .basket-total{
    padding-top: 29px;
}
#content .basket-item .basket-total b{
    margin-right: 297px;
 }
#content .content__basket .basket-discount{
    font-size: 20px;
    padding: 16px 0;
    margin: 19px 0;
}
#content .content__basket .basket-discount input{
    width: 275px;
    height: 40px;
    border-radius: 8px;
    padding-left: 8px;
}
#content .content__basket .basket-discount > button{
    width: 89px;
    height: 40px;
    background-color: #3ABAB3;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}
#content .content__basket .posi{
    position: relative;
}
.tick,.error{
    position: absolute;
    width: 30px;
    right: 7px;
    top: 7px;
    display: none;
}

#content .summary-item {
    padding: 35px 31px 47px;
}
#content .summary-item > h2{
    font-size: 40px;
}
#content .content__summary{
    margin-bottom: 50px;
    margin-top: 77px;
}
#content .content__summary .summary-itembox table{
    font-size: 20px;
    margin-top: 29px;
}
.radio input[type="radio"] {
   margin-right: 5px;
    display: none;
}
.radio{
    padding-left: 30px;
    cursor: pointer;
}
.icon-radio{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
    padding: 1px;
}
.icon-radio::after{
    content:"";
    height: 100%;
    display:block;
    width: 100%;
    border-radius: 50%;
    background-color: #3ABAB3;
    transform: scale(0);
    transition: transform 0.15s;
}
.radio input[type="radio"]:checked + .icon-radio::after{
    transform: scale(1);
}
.radio::hover .icon-radio{
    border-color:#3F3A64;
}
#content .content__summary .summary-vat{
    font-size: 20px;
    padding: 30px 0;
    color: #3F3A64;
    border-bottom: 1px solid #3F3A64;
}

#content .content__summary .summary-oclass{
    font-size: 20px;
    padding: 30px 0;
    color: #3F3A64;
}

#content .content__summary .summary-total{
    font-size: 20px;
    padding: 30px 0;
    border-top: 1px solid #3F3A64;
    border-bottom: 1px solid #3F3A64;
}
#content .summary-submit  button{
    width: 150px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #D0D1D3;
    float: right;
    margin-top: 46px;
    margin-bottom: 74px;
    cursor: pointer;
}
#content .summary-submit  button:hover{
    background: #C93D5B;
}
#content .content__summary .summary-submit{
    height: 80px;
    background: #fff;
}

#content .content__summary .submit-btn{
    color: #fff;
    background-color: #61B7B2;
    margin-left: 8px;
}
#content .content__summary .submit-btn:hover{
    background: #22A68D;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}
.modal .modal-container{
    background-color: #F7F5F4;
    position: relative;
    border-radius: 8px;
    width: 873px;
    height: 256px;
    max-width: calc(100% -100px);
    animation: modelFadeIn ease 0.5s;
}
.modal .modal-close{
    position: absolute;
    height: 36px;
    width: 33px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}
.modal .modal-body{
    padding: 50px;
    font-size: 25px;
    text-align: center;
}
.modal .modal-body .check{
    width: 101px;
    height: 65px;
    margin-bottom: 35px;
}
@keyframes modelFadeIn{
    from{
        opacity: 0;
        transform: translateY(-300px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}