*{
    box-sizing: border-box;
}
.container{
    width: 1440px;
}
.banner{
    background-color: #F7F5F4;
    padding-top: 125px;
    padding-bottom: 125px;
}
.banner-1 p{
    text-align: center;
    font-size: 80px;
    color:#3ABAB3;
}
.banner-2 p{
    text-align: center;
    font-size: 40px;
    color: #3F3A64;
}
.btn-privacy{
    background-color: #3ABAB3;
    width: 469px;
    height: 98px;
    margin-left: 145px;
    font-size: 25px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: 1px;
    color: #ffffff;
    border: none;
}
.box-1{
    font-size: 40px;
    color: #3F3A64;
    margin-top: 100px;
    margin-left: 147px;
}
.box-2{
    color: #3F3A64;
    font-size: 20px;
    margin-top: 51px;
    text-align: justify;
    margin-left: 145px;
    margin-right: 175px;
    margin-bottom: 211px;
}
button[type=submit]:hover {
    background-color: #1b6d85;
}
