section{
    font-family: 'Noto Sans', sans-serif;
}
.container1{
    margin-bottom: 76px;
    display: flex;
    margin-left: 45px;
}
.content1-name {
    width: 469px;
    height: 98px;
    background-color: #3ABAB3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 205px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content1-name h3{
    margin: 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
.content-name:hover{
    background-color: rgb(27, 109, 133);
    transition: 0.5s;
}
.content1-name:hover{
    background-color: rgb(27, 109, 133);
    transition: 0.5s;
}

.text1{
margin-left: 24px;
}
.text1 h4{
    font-size: 20px;
    font-weight: 600;
    color: #61B7B2;
}
.text1 p{
    font-size: 25px;
    font-weight: 500;
    color: #3F3A64;
}
.box{
    width: 663px;
    margin-left: 205px;
}
.box img{
    width: 700px;
    height: 403px;
}
.click{
    display: flex;
}
.content11-name {
    width: 469px;
    height: 98px;
    background-color: #3ABAB3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content11-name h3{
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

/*Tab*/


/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden;
    background-color: #F7F5F4;
    width: 663px;
    border-radius: 8px;
    margin-top: 50px;
}

/* định dạng các button tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 112px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
    color: white;

}


/* đổi màu khi một button tab được hover */
div.tab button:hover {
    background-color: #e6ecec;

}

/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab button.active {
    background-color: #3ABAB3;
}

/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-top: 50px;
}
#flex{
    display: flex;
    justify-content: space-between;
}
#information{
    margin-top: 50px;
    margin-left: 50px;

}
#information p{
    font-size: 20px;
    width:500px;
    font-weight: 400;
    margin-top: 30px;
}
.box1 img{
    /*width: 663px;*/
    height: 413px;
}
.box1 .tab .tablinks{
    color: #3F3A64;
}
.box1 .tab .tablinks.active{
    color: white;
}
.box1{
    margin-left: 43px;
}
.tabcontent img{
    margin-top: 30px;
    width: 300px;
    height: 293px;
}
.box2{
    background-color: #F7F5F4;
    float: right;
    width: 430px;
    height: 616px;
    padding: 75px 30px 42px 30px;
    margin-right: 145px;
    border-radius: 5px;
    border-top: 3px solid #2E526C;
}
.box2 .price img{
    width: 41.74px;
    height: 25.4px;
    color: #22536F;
    margin-bottom: 20px;
}
.box2 .price .price-text{
    display: flex;
    float: right;

}
.box2 .price {
    border-bottom: 1px solid #D0D1D3;
    margin-bottom: 20px;

}
.box2 .instructor {
    border-bottom: 1px solid #D0D1D3;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}
.box2 .instructor img{
    width: 32px;
    height: 36.33px;
    color: #22536F;
    margin-bottom: 20px;
}
.box2 .instructor .price-text{
    padding-top: 10px;
    display: flex;
    float: right;
    justify-content: space-between;
    flex: 1;
    margin-left: 45px;

}
.box3{
    margin-top: 50px;
}
.content-name {
    width: 100%;
    height: 55px;
    background-color: #3ABAB3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.content-name h3{
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}


.popular-course{
    width: 100%;
    background-color: #FAF9F8;
    padding: 0 50px 80px 50px;

}
.popular-course__content{
    text-align: left;
    margin-top: 80px;
    display: block;
    margin-left: 115px;
}
.popular-course__content p{
    text-transform: uppercase;
    font-size: 20px;
    color: #3F3A64;
    font-weight: 700;


}
.popular-course__content h3{
    font-size: 40px;
    font-weight: 400;
    margin-top: 14px;
}
.popular-course__content p{
    font-size: 20px;
}
.popular-course__list{
    width: 100%;
    padding: 0 90px;
    display: flex;
    margin-top: 15px;
}

.popular-course__item{
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
}
.popular-course__item:hover .popular-course__item-row{
    transform: translateZ(2px);
    box-shadow: 0 0 22px #b4b0b0;
    transition: 0.3s;
}
.popular-course__item-row{
    background-color: #ffffff;
    box-shadow: 0 0 5px #cccccc;
    padding-bottom: 60px;
    border-radius: 12px;
    overflow: hidden;
}
.popular-course__item--icon{
    height: 270px;
}
.popular-course__item--icon img {
    width: 100%;
    height: 100%;
}
.popular-course__item--text{
    width: 100%;
    margin-top: 10px;
    padding: 5px 20px;
    position: relative;
}
.popular-course__item--text h4{
    font-size: 25px;
    font-weight: 500;
    padding: 0 20px;
    line-height: 30px;
    height: 90px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.popular-course__item--text h4 a{
    color: #3F3A64;
}
.popular-course__item--text h4:hover a{
    text-decoration: none;
    color: #378886;
    transition: 0.4s;
}

.popular-course__item--point{
    font-size: 34px;
    font-weight: 600;
    color: #61B7B2;
    position: absolute;
    right: 30px;
    bottom: -45px;
}
.popular-course__item--text p{
    margin: 82px 0 0 110px;
}
.popular-course__text{
    display: flex;
    margin: 70px auto;
    width: 50%;
    text-align: center;
}
.popular-course__text p{
    font-size: 20px;
    font-style: italic;
}
.popular-course__text p a{
    text-decoration: underline;
    margin-bottom: 0;
}
/**/
.owl-dots{
    text-align: center;
}
.owl-dot{
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 50%;
    margin: 50px 5px 0;
}
